<p id="notice"><%= notice %></p>

<p>
  <strong>Mname:</strong>
  <%= @membership.mname %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @membership.group %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
