<!DOCTYPE html>
<html>
<head>
  <title>OSU Summoner Search</title>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Quattrocento', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="navbar">
		<div id="buttons">
			<%= link_to "LOG IN", '#'%>
			<%= link_to "REGISTER", new_user_path, class: "btn" %>
		</div>
		<div id = "heading">
			<h1><%= link_to "OSU SUMMONER SEARCH", search_path %></h1>
		</div>
	</div>


<%= yield %>

</body>
</html>
