

<div id="pcreate">
	<h2>Account Creation</h2>
	    <%= form_for(@user) do |f| %>
	    	<%= render 'shared/errors' %>
	    	<p><%= f.label :name, "Summoner Name" %></p>
	      	<%= f.text_field :name, class: 'form-control' %>

	      	<p><%= f.label :email %></p>
	      	<%= f.email_field :email, class: 'form-control' %>

	      	<p><%= f.label :password %></p>
	      	<%= f.password_field :password, class: 'form-control' %>

	      	<p><%= f.label :password_confirmation, "Confirm Password" %></p>
	      	<%= f.password_field :password_confirmation, class: 'form-control' %>

	      	<p><%= f.label :major, "OSU Major" %></p>
	      	<%= f.text_field :major, class: 'form-control' %>

	      	<p><%= f.label :campus, "OSU Campus" %></p>
			<%= f.select :campus, options_for_select(['Columbus', 'Lima', 'Mansfield', 'Marion', 'Newark', 'Wooster'])  %>


	      	<br>
	      	<h3>When are you typically available to play?</h3>
	      	<table>
				<tr>
					<th></th>
					<th>8AM-12PM</th>
					<th>12-6PM</th>
					<th>6PM+</th>
				</tr>
				<tr>
					<th>Sunday</th>
					<td><input type="checkbox" name="sunday1" value="Morning"></td>
					<td><input type="checkbox" name="sunday2" value="Afternoon"></td>
					<td><input type="checkbox" name="sunday3" value="Evening"></td>
				</tr>
				<tr>
					<th>Monday</th>
					<td><input type="checkbox" name="monday1" value="Morning"></td>
					<td><input type="checkbox" name="monday2" value="Afternoon"></td>
					<td><input type="checkbox" name="monday3" value="Evening"></td>
				</tr>
				<tr>
					<th>Tuesday</th>
					<td><input type="checkbox" name="tuesday1" value="Morning"></td>
					<td><input type="checkbox" name="tuesday2" value="Afternoon"></td>
					<td><input type="checkbox" name="tuesday3" value="Evening"></td>
				</tr>
				<tr>
					<th>Wednesday</th>
					<td><input type="checkbox" name="wednesday1" value="Morning"></td>
					<td><input type="checkbox" name="wednesday2" value="Afternoon"></td>
					<td><input type="checkbox" name="wednesday3" value="Evening"></td>
				</tr>
				<tr>
					<th>Thursday</th>
					<td><input type="checkbox" name="thursday1" value="Morning"></td>
					<td><input type="checkbox" name="thursday2" value="Afternoon"></td>
					<td><input type="checkbox" name="thursday3" value="Evening"></td>
				</tr>
				<tr>	
					<th>Friday</th>
					<td><input type="checkbox" name="friday1" value="Morning"></td>
					<td><input type="checkbox" name="friday2" value="Afternoon"></td>
					<td><input type="checkbox" name="friday3" value="Evening"></td>
				</tr>
				<tr>
					<th>Saturday</th>
					<td><input type="checkbox" name="saturday1" value="Morning"></td>
					<td><input type="checkbox" name="saturday2" value="Afternoon"></td>
					<td><input type="checkbox" name="saturday3" value="Evening"></td>
				</tr>
			</table>
	      	<p><%= f.submit "REGISTER ACCOUNT", class: "btn btn-primary" %></p>
	    <% end %>
</div>
