<h1>Listing free_times</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Day</th>
      <th>Timeslot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @free_times.each do |free_time| %>
      <tr>
        <td><%= free_time.user_id %></td>
        <td><%= free_time.day %></td>
        <td><%= free_time.timeSlot %></td>
        <td><%= link_to 'Show', free_time %></td>
        <td><%= link_to 'Edit', edit_free_time_path(free_time) %></td>
        <td><%= link_to 'Destroy', free_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Free time', new_free_time_path %>
