<div id = "pcreate">
	<h2>Log in</h2>
	    <% flash.each do |message_type, message| %>
        	<div class="alert alert-<%= message_type %>"><%= message %></div>
      	<% end %>

		<%= form_for(:session, url: login_path) do |f| %>
			<p><%= f.label :email %></p>
    		<%= f.email_field :email, class: 'form-control' %>

	    	<p><%= f.label :password %></p>
    		<%= f.password_field :password, class: 'form-control' %>

    		<p><%= f.submit "Log in", class: "btnb" %></p>
    	<% end %>
    	<p>New user? <%= link_to "sign up now!", signup_path, class: "loglink" %></p>
</div>